* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 10px;
}

@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica.woff");
    font-weight: normal;
    font-style: normal;
}

$mainColor: #a259ff;
$pastelPurple: #d9b3ff;
$lightPurple: #f2e6ff;

.hover-item:hover {
    cursor: none;
}

.section {
    background-color: #101010;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &__wrapper {
        max-width: 1300px;
        padding: 4rem 2rem;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &__background {
        position: absolute;
        font-size: 6rem;
        left: -15rem;
        transform: rotate(-45deg);
        top: 1rem;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.1);
        z-index: -1;
    }

    &__heading {
        color: #fff;
        font-size: 3.2rem;
        font-family: "Helvetica", "Arial", sans-serif;
        margin-bottom: 1rem;
        width: fit-content;

        &--center {
            text-align: center;
            margin: 0 auto;
        }

        &:hover {
            cursor: default;
        }
    }

    &__colored {
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-size: 3.2rem;
        font-family: "Helvetica", "Arial", sans-serif;
        &:hover {
            cursor: default;
        }
    }

    &__subheading {
        color: #ccc;
        font-size: 1.4rem;
        max-width: 400px;
        margin: 0 auto;

        &--center {
            text-align: center;
        }
        &:hover {
            cursor: default;
        }
    }
}

// .features {
//     position: relative;

//     &__heading {
//         text-align: center;
//         margin: 0 auto;
//     }

//     &::after {
//         content: "";
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 50%;
//     }

//     &__subheading {
//         text-align: center;
//         margin: 2rem auto 0 auto;
//     }

//     &__items {
//         margin-top: 3rem;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         gap: 5rem;
//     }

//     &__item {
//         padding: 1.5rem;
//         background-color: #141414;
//         border-radius: 2rem;
//         position: relative;
//         width: 125px;
//         text-align: center;
//         border: 1px solid #111;

//         &:hover {
//             cursor: default;
//         }

//         &::after {
//             content: "";
//             position: absolute;
//             top: 100%;
//             left: 50%;
//             transform: translateX(-50%);
//             width: 1px;
//             height: 6rem;
//             background-color: $mainColor;
//         }

//         &:nth-child(4)::after {
//             display: none;
//         }
//     }

//     &__name {
//         font-weight: 500;
//         color: $mainColor;
//         font-size: 1.5rem;
//     }

//     &__heading-wrapper {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
// }

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #000;

    &__title {
        position: absolute;
        opacity: 0;
        top: 4rem;
        left: 2rem;
        font-size: 4.2rem;
        font-weight: 900;
        color: #fff;
        padding-right: 2rem;
        font-family: "Helvetica", "Arial", sans-serif;
        animation: fadeInUp 0.5s both ease-in-out;

        &:hover {
            cursor: default;
        }
    }

    &__colored {
        font-size: 4.2rem;
        color: transparent;
        font-family: "Helvetica", "Arial", sans-serif;
        -webkit-text-stroke: 0.2rem #fff;

        &:hover {
            cursor: default;
        }
    }

    &__animation {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__stack {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 150px;

        &:hover {
            cursor: default;
        }
    }

    &__stack-title {
        font-size: 1.6rem;
        color: #fff;
        font-weight: normal;
        opacity: 0;
        animation: fadeInUp 0.5s both 0.5s ease-in-out;
    }

    &__stack-name {
        font-size: 1.4rem;
        color: #fff;
        font-weight: bold;
        opacity: 0;
        animation: fadeInUp 0.5s both 1s ease-in-out;
    }

    &__buttons {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    &__button {
        padding: 1rem 2rem;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 1.4rem;
        cursor: pointer;
        width: 120px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #fff;
            color: #000;
        }

        &--full {
            background-color: #fff;
            color: #000;

            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }

        &--empty {
            border: none;

            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
    .hero {
        &__stack-title {
            font-size: 2rem;
        }

        &__title,
        &__colored {
            font-size: 6rem;
            left: 4rem;
        }

        &__stack {
            left: 4rem;
            bottom: 4rem;
        }

        &__stack-name {
            font-size: 1.8rem;
        }

        &__buttons {
            flex-direction: row;
            right: 4rem;
            bottom: 4rem;
        }

        &__button {
            font-size: 1.8rem;
            width: 150px;
            border-width: 2px;
        }
    }

    .section {
        &__wrapper {
            padding: 6rem 4rem;
        }

        &__heading,
        &__colored {
            font-size: 4.5rem;
        }

        &__subheading {
            font-size: 1.8rem;
        }

        &__background {
            font-size: 12rem;
            letter-spacing: -0.1rem;
        }
    }

    // .features {
    //     &__items {
    //         flex-direction: row;
    //     }

    //     &__item::after {
    //         width: 6rem;
    //         height: 1px;
    //         top: 50%;
    //         left: auto;
    //         bottom: auto;
    //         right: -6rem;
    //         transform: translateY(-50%);
    //     }

    //     &__heading-wrapper {
    //         flex-direction: row;
    //         justify-content: space-between;
    //         align-items: flex-start;
    //     }

    //     &__heading {
    //         text-align: left;
    //         max-width: 500px;
    //     }

    //     &__subheading {
    //         text-align: left;
    //     }

    //     &__items {
    //         margin-top: 8rem;
    //     }

    //     &__item {
    //         width: 140px;
    //     }

    //     &__name {
    //         font-size: 1.6rem;
    //     }
    // }
}

@media (min-width: 1280px) {
    .hero {
        &__title,
        &__colored {
            font-size: 8rem;
        }
    }
}

@media (min-width: 1440px) {
    .hero {
        &__title,
        &__colored {
            font-size: 9.3rem;
        }
    }
}

@media (min-width: 1920px) {
    .hero {
        &__title,
        &__colored {
            font-size: 10rem;
        }
    }
}

@media (min-width: 2560px) {
    .hero {
        &__title,
        &__colored {
            font-size: 12rem;
        }
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.mf-cursor {
    color: #fff;
    mix-blend-mode: difference;
    opacity: 1;

    &::before {
        width: 60px;
        height: 60px;
        top: -30px;
        left: -30px;
    }
}

.mf-cursor-media {
    width: 500px;
    height: 500px;
}

.mf-cursor-text {
    color: #000;
    font-weight: 600;
    opacity: 1;
}
