* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 10px;
}

@font-face {
    font-family: "Helvetica";
    src: url("/fonts/Helvetica.woff");
    font-weight: normal;
    font-style: normal;
}

$mainColor: #a259ff;
$pastelPurple: #d9b3ff;
$lightPurple: #f2e6ff;

.hover-item:hover {
    cursor: none;
}

body {
    height: 300vh;
}

.section {
    padding: 4rem 2rem;

    &__wrapper {
        margin: 0 auto;
        max-width: 1600px;
    }
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: #000;
    position: sticky;
    top: 0;

    &__title-wrapper {
        position: absolute;
        top: 4rem;
        left: 2rem;
        white-space: normal;
    }

    &__word {
        display: inline-block;
        opacity: 0;
        transform: translateY(25px);
    }

    &__title {
        font-size: 4.2rem;
        font-weight: 900;
        color: #fff;
        padding-right: 2rem;
        font-family: "Helvetica", "Arial", sans-serif;

        &:hover {
            cursor: default;
        }

        &--colored {
            font-size: 4.2rem;
            color: transparent;
            font-family: "Helvetica", "Arial", sans-serif;
            -webkit-text-stroke: 0.2rem #fff;
        }

        &--letter {
            display: inline-block;
            padding-right: 0;

            white-space: nowrap;
        }
    }

    &__animation {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__stack {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 150px;

        &:hover {
            cursor: default;
        }
    }

    &__stack-title {
        font-size: 1.6rem;
        color: #fff;
        font-weight: normal;
        opacity: 0;
        animation: fadeInUp 0.5s both 1.85s ease-in-out;
    }

    &__stack-name {
        font-size: 1.4rem;
        color: #fff;
        font-weight: bold;
        opacity: 0;
        animation: fadeInUp 0.5s both 2.1s ease-in-out;
    }

    &__buttons {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    &__button {
        padding: 1rem 2rem;
        border: 1px solid #fff;
        background-color: transparent;
        color: #fff;
        font-size: 1.4rem;
        cursor: pointer;
        width: 120px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: #fff;
            color: #000;
        }

        &--full {
            background-color: #fff;
            color: #000;

            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }

        &--empty {
            border: none;

            &:hover {
                background-color: transparent;
                color: #fff;
            }
        }

        &:nth-child(1) {
            animation: fadeInUp 0.5s both 2.35s ease-in-out;
        }

        &:nth-child(2) {
            animation: fadeInUp 0.5s both 2.55s ease-in-out;
        }
    }

    &__rectangles {
        width: 100%;
        display: flex;
    }

    &__rectangle {
        width: 25%;
        position: absolute;
        height: 0%;
        bottom: 0;
        background-color: red;

        &--rectangle-1 {
            left: 0;
        }

        &--rectangle-2 {
            left: 25%;
        }

        &--rectangle-3 {
            left: 50%;
        }

        &--rectangle-4 {
            left: 75%;
        }
    }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
    .hero {
        &__title-wrapper {
            left: 4rem;
            max-width: 95vw;
        }

        &__stack-title {
            font-size: 2rem;
        }

        &__title,
        &__colored {
            font-size: 6rem;
        }

        &__stack {
            left: 4rem;
            bottom: 4rem;
        }

        &__stack-name {
            font-size: 1.8rem;
        }

        &__buttons {
            flex-direction: row;
            right: 4rem;
            bottom: 4rem;
        }

        &__button {
            font-size: 1.8rem;
            width: 150px;
            border-width: 2px;
        }
    }

    .works {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .section {
        &__wrapper {
            padding: 6rem 4rem;
        }

        &__heading,
        &__colored {
            font-size: 4.5rem;
        }

        &__subheading {
            font-size: 1.8rem;
        }

        &__background {
            font-size: 12rem;
            letter-spacing: -0.1rem;
        }
    }
}

@media (min-width: 1280px) {
    .hero {
        &__title,
        &__colored {
            font-size: 8rem;
        }
    }
}

@media (min-width: 1440px) {
    .hero {
        &__title,
        &__colored {
            font-size: 9.3rem;
        }

        &__title-wrapper {
            max-width: 85vw;
        }
    }
}

@media (min-width: 1920px) {
    .hero {
        &__title,
        &__colored {
            font-size: 10rem;
        }
    }
}

@media (min-width: 2560px) {
    .hero {
        &__title,
        &__colored {
            font-size: 12rem;
        }
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.mf-cursor {
    color: #fff;
    mix-blend-mode: difference;
    opacity: 1;

    &::before {
        width: 60px;
        height: 60px;
        top: -30px;
        left: -30px;
    }
}

.mf-cursor-media {
    width: 500px;
    height: 500px;
}

.mf-cursor-text {
    color: #000;
    font-weight: 600;
    opacity: 1;
}
